.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2rem 10px 2rem;
}

.navbar-Login-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.navbar-Login-button a {
  text-decoration: none;
}
.Logo-main a {
  text-decoration: none;
  color: #551aa9;
}
@media screen and (max-width: 700px) {
  .navbar-Login-button span {
    gap: 1rem;
    font-size: 0.8rem;
  }
}
